<!-- index.ejs -->
<!doctype html>
<html>
<head prefix='og: http://ogp.me/ns#'>
  <title>Fuck You [dot] Eth</title>
  <meta charset="UTF-8">
  <meta name='viewport' content='width=device-width, initial-scale=1'>
  <meta name='description' content='The frontpage fuck you of the Internet. Bid for your chance to be heard!'>
  <meta name='keywords' content='fuck you,auction,frontpage,rage'>
  <meta property='og:title' content='Fuck You [dot] Eth'>
  <meta property="og:type" content="website">
  <meta property="og:url" content="http://fuckyoudoteth.com">
  <meta property="og:image" content="http://fuckyoudoteth.com/img/logo.svg">
  <meta property='og:description' content='The frontpage fuck you of the Internet. Bid for your chance to be heard!'>
</head>
<body>
  <div id='app'></div>
</body>
</html>
