body, #app {
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
  min-height: 100vh;
}

.full-height {
  min-height: 100vh;
}

#wrapper {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

#inner-wrapper {
  flex: 1;
  background: #efefef;
}

.is-centered.level {
  justify-content: center;
}

.is-centered.level > .level-item {
  flex-grow: 0;
  margin-left: 1em;
  margin-right: 1em;
}

.is-vertical.level {
  flex-direction: column;
}

.is-vertical.level > .level-item {
  margin-top: 1em;
  margin-bottom: 1em;
}

.is-active.nav-item {
  background-color: #00d1b2;
  color: whitesmoke !important;
}

.is-home.nav-item {
  color: whitesmoke !important;
}

.is-link {
  cursor: pointer;
}

.is-extra-large {
    font-size: 2.5rem;
}

.eth-label {
  position: absolute;
  right: 20px;
  color: #888;
  bottom: 0.9em;
  font-size: 28px;
  z-index: 10;
}
.highest-bid-card .button.is-loading {
  border: 0px;
  font-size: 6rem;
}

.fade-in-enter {
  opacity: 0.01;
}

.fade-in-enter.fade-in-enter-active {
  opacity: 1;
  transition: opacity 500ms ease-in;
}

.current-bid-enter {
  opacity: 0.01;
  max-height: 0;
}

.current-bid-enter.current-bid-enter-active {
  opacity: 1;
  max-height: 500px;
  transition: max-height 1000ms ease-in, opacity 800ms ease-in;
}

.fade-in-exit-active {
  display: none;
}

.wipe-in-enter {
  opacity: 0.01;
}

.wipe-in-exit-active {
  display: none;
}

.wipe-in-enter.wipe-in-enter-active {
  opacity: 1;
  transition: opacity 1000ms ease-in;
}
.cta-section {
  background: #efefef;
}
.steps-section {
  background: inherit;
}
.whitepaper-section {
  background: rgb(225, 225, 251);
}
.is-xl {
  font-size: 4rem;
}
.center {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.auction-hero.hero.is-dark.is-bold {
  background-image: url('../images/mcfu.png'),
  linear-gradient(141deg, #1f191a 0%, #363636 71%, #46403f 100%);
  background-size: cover;
}
.bottom-image {
  background-size: contain;
  background-repeat: no-repeat;
  padding-bottom: 28rem;
  margin-bottom: -3rem;
}
.sassy {
  background-image: url('../images/sassy.png');
  background-position: 70%;
}
.dolphin {
  background-image: url('../images/dolphin.png');
  background-position: center;
}
.highest-bid-card {
  margin-bottom: 1rem;
  min-height: 264px;
}
.bid-tabs {
  margin-top: -3rem;
}
